.basic_popup_edit {
  //display: none;
  position: fixed;
  z-index: 1;
  padding: 25px 0 25px 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.popup_edit_inner {
  width: 35%;
  height: 95%;
  background: #EFF9FF;
  border-radius: 15px;
  margin: 0 auto;
  position: relative;
  overflow-x: auto;
}

.edit_category_popup {
  padding: 23pt 26pt 23pt 26pt;
}

.popup_menu_title {
  background: white;
  border-radius: 15px;
  color: #75797e;
  padding: 12pt 15pt;
  box-shadow: 8px 20px 30px -10px rgba(0,0,0,0.1);
}

.popup_menu_title {
  position: relative;
  width: 80%;
  margin-top: 10pt;
}

.category_menu_title  {
  margin: 0;
}

.arrow_open_menu_details, .arrow_close_menu_details {
  position: absolute;
  top: 15pt;
  right: 20pt;
  color: #ff2d55;
  cursor: pointer;
}

.input_menu_title {
  height: 50pt;
  border: 0;
  width: calc(100% - 2px);
  margin-left: 4px;
  box-shadow: -6px 10px 0px -7px #ebebeb, 8px 10px 0px -10px #ebebeb;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  outline: none;
  font-size: 16pt;
  border-left: white;
  color: #002439;
}

.input_menu_title {
  height: 35pt;
}

.trash_icon_btn {
  font-size: 35px !important;
  position: absolute;
  top: 55px;
  right: 35px;
  color: #ff2d55;
}

.popup_edit_add_btn {
  width: 32pt;
  height: 32pt;
  border-radius: 40px;
  border: 2px solid #ff2d55;
  margin: 0 auto;
  margin-top: 20pt;
}

.plus_icon_edit {
  padding: 7px 0 0 7px;
  font-size: 30px !important;
  color: #ff2d55;
}

.popup_edit_bottom {
  position: absolute;
  width: 90%;
  bottom: 0;
}

.popup_edit_save_btn {
  margin-top: 20pt;
  box-shadow: 8px 20px 30px -10px rgba(0,0,0,0.1);
  font-size: 16pt;
  border-radius: 15px;
  text-align: center;
  padding-top: 15px;
  height: 35pt;
  cursor: pointer;
}

.popup_edit_save_btn {
  color: white;
  background: #ff2d55;
}

.popup_edit_cancel_btn {
  margin-top: 20pt;
  box-shadow: 8px 20px 30px -10px rgba(0,0,0,0.1);
  font-size: 16pt;
  border-radius: 15px;
  text-align: center;
  padding-top: 15px;
  height: 35pt;
  cursor: pointer;
}

.popup_edit_cancel_btn {
  color: #0076FF;
  background: white;
}

.edit_category_scroll {
  height: 800px;
  overflow-y: auto;
}

.edit_category_scroll::-webkit-scrollbar {
  display: none;
}