.profile_section_border {
  border-bottom: 2px solid #f5f5f5;
  margin-bottom: 30px;
  padding-bottom: 25px;
}

.delivery_collection_div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 34px;
}

.profile_delivery_section, .profile_collection_section {
  width: 48%;
  border: 1px solid #d4e7ef;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  height: 20pt;
  padding: 10pt 0 10pt 0;
  margin-top: 34px;
}

.profile_delivery_section2 {
  width: 48%;
  border: 1px solid #d4e7ef;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  height: 38px;
  padding: 10pt 0 10pt 0;
}

.profile_icon {
  padding-top: 3px;
  color: #ff2d55;
}

.check_div_profile, .check_div_profile2 {
  border: 3px solid #e6e6e6;
  border-radius: 40px;
  width: 23px;
  height: 23px;
  text-align: center;
}

.check_div_profile_sel, .check_div_profile2_sel {
  border-color:#4bd964;
}

.chkMarkProfile, .chkMarkProfile2 {
  color: #4bd964;
  padding-top: 2px;
}
.chkMarkProfile_sel, .chkMarkProfile2_sel {
  display:block !important;
}

.delivery_colection_section_location {
  color: #98A7AF;
  width: 48%;
  display: flex;
  justify-content: space-between;
}

.delivery_radius {
  font-size: 12pt;
}

.delivery_collection_select_inner {
  border: 1px solid #d4e7ef;
  border-radius: 15px;
  height: 20pt;
  padding: 10pt 0 10pt 0;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.delivery_location {
  font-size: 14pt;
  border: none;
  outline: none;
  color: #ff2d55;
  width: 90px;
  cursor: pointer;
}

.delivery-options-profile {
  width: 45%;
}

.delivery-options-center {
  text-align: center;
}

.input-cost {
    height: 20pt;
    border: none;
    font-size: 14pt;
    color: #ff2d55;
}

.input-cost:focus {
  outline: none;
}

.locarr {
  font-size: 20pt !important;
  padding-right: 40px;
}

.postcode-selector {
  width: 300px;
}

.hiddenComp {
  display: none;
}

.address-new-del-section {
  color: #002439;
  font-size: 19px;
  padding-left: 10px;
}

.address-new-del-section:focus {
  outline: none;
}