.site_menu_section {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 24pt auto 37pt;
}

.site_menu_logo {
  font-size: 30pt;
  cursor: pointer;
}

.site_menu_list {
  list-style-type: none;
  margin-top: 20pt;
}

.site_menu_item {
  color: #ff2d55;
  font-size: 15pt;
  display: inline;
  margin: 0 15pt;
  cursor: pointer;
}

.site_menu_item_login {
  background: #ff2d55;
  color: white;
  border-radius: 20px;
  padding: 4pt 15pt;
}

@media screen and (max-width: 600px) {
  .header_hide_option {
    display: none;
  }

  .site_menu_section {
    display: block;
  }

  .site_menu_item {
    margin: 0 15pt 0 0;
  }

  .site_menu_section {
    margin: 24pt auto 0;
  }

  .site_menu_list {
    padding-left: 0;
  }

}