.order_toggle {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  border: 2px solid #fe154c;
  color: #fe154c;
  border-radius: 10px;
  height: 45px;
  position: absolute;
  bottom: 90px;
  left: 13pt;
}

.order_toggle_text {
  font-size: 14pt;
  padding-top: 9px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider, .slider_menu {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #fe154c;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider_sidemen:before {
  background-color: transparent !important;
}

.log-out-side {
  background: #ff2d55;
  font-size: 14pt;
  padding-top: 13px;
  color: white;
  border-radius: 10px;
  text-align: center;
  height: 40px;
  margin-top: 35px;
  cursor: pointer;
  width: 86%;
  margin: 0 auto;
  position: absolute;
  bottom: 20px;
  left: 13pt;
}