.side-menu-top {
  display: flex;
  justify-content: space-between;
}

.settings_btn {
  color: #a1b0ba;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 0 145px 20px;
  cursor: pointer;
  width: 10%;
}

.menu_arrows {
  color: #a1b0ba;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 0 145px 0;
  cursor: pointer;
  width: 10%;
}

.active_top {
  color: #ff2d55;
}

.settings_flex {
  display: flex;
}

.label_settings{
  margin-left: 10px;
}