.menu-button {
  cursor: pointer;
  position: relative;
}

.active {
  height: 30px;
  width: 30px;
  color: red;
}

.menu-button > .empty_div, .menu-button > .empty_div_bottom {
  display: block;
  background: #f6fcff;
  height: 35px;
  width: 24px;
  position: absolute;
  border-bottom-right-radius: 40px;
  right: -4px;
  z-index: 99;
  top: -35px;
}

.menu-button > .empty_div_bottom {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 0;
  top: 53px;
}

.icon_menu {
  padding-right: 20px;
}

.menu_item {
  margin-bottom: 50px;
  padding: 8px 0 10px 23px;
  height: 35px;
  border-radius: 40px;
  position: relative;
  color: #a1b0ba;
  font-size: 18pt;
  font-weight: 700;
}

.button_title {
  text-transform: capitalize;
}

.selected {
  color: #fe154c;
  background: #eef9ff;
  z-index: 9;
}

.selected:after, .selected_order::after {
  content: '';
  position: absolute;
  height: 180%;
  width: 45px;
  right: -25px;
  top: -20px;
  background: inherit;
}

.orders-sidemenu > .selected{
  background: #bbd0de;
}