.order_section_right {
  width: 64%;
}

.order_right_inner {
  padding: 19pt 42pt;
}

.order_right_id {
  font-size: 36pt;
  padding-bottom: 30pt;
}

.order_details_first, .order_details_second {
  display: flex;
  justify-content: space-between;
}

.order_details_first_box {
  background: white;
  width: 30%;
  border-radius: 10px;
  box-shadow: 5px 15px 15px 0px rgba(0,0,0,0.1);
}

.order_static_title {
  padding: 10pt 0 0 17pt;
  color: #98A7AF;
  font-size: 14pt;
}

.order_dynamic_text {
  font-size: 16pt;
  padding: 5px 20px 15px 23px;
}

.order_details_second {
  margin-top: 13pt;
  min-height: 70pt;
}

.order_details_second_box {
  display: flex;
  width: 65%;
  background: white;
  border-radius: 10px;
  box-shadow: 5px 15px 15px 0px rgba(0,0,0,0.1);
}

.order_details_second_box_full {
  display: flex;
  width: 100%;
  background: white;
  border-radius: 10px;
  box-shadow: 5px 15px 15px 0px rgba(0,0,0,0.1);
}

.order_static_title {
  padding: 10pt 0 0 17pt;
  color: #98A7AF;
  font-size: 14pt;
}

.order_dynamic_text {
  font-size: 16pt;
  padding: 5px 20px 15px 23px;
}

.order_details_first_box {
  background: white;
  width: 30%;
  border-radius: 10px;
  box-shadow: 5px 15px 15px 0px rgba(0,0,0,0.1);
}

.order_static_title {
  padding: 10pt 0 0 17pt;
  color: #98A7AF;
  font-size: 14pt;
}

.order_dynamic_text {
  font-size: 16pt;
  padding: 5px 20px 15px 23px;
}

.order_details_third {
  background: white;
  border-radius: 10px;
  padding: 10pt 18pt;
  margin-top: 15pt;
  box-shadow: 2px 14px 30px 10px rgba(0,0,0,0.1);
}

.order_details_third_title {
  font-size: 14pt;
  padding-bottom: 15px;
  color: #98A7AF;
}

.order_panel_detail {
  border-bottom: 1px solid #98A7AF;
  position: relative;
  margin: 15px 0 15px 0;
}

.order_panel_detail::after {
  content: '';
  display: block;
  position: absolute;
  width: 110px;
  border: 1px solid white;
}

.order_panel_product_name {
  width: 75%;
}

.order_panel_category {
  font-size: 18pt;
  color: #98A7AF;
}

.product_qty {
  font-size: 16pt;
  text-align: right;
  margin: 0 0 0 45px;
}

.order_panel_detail_right {
  display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 35px 0 18px 0;
    font-size: 16pt;
}

.order_panel_total {
  padding: 21pt 0 18pt 0;
  font-size: 16pt;
  display: flex;
  justify-content: space-between;
  margin-left: 105px;
}

.ready_food_btn {
  color: white;
  background: #ff2d55;
  font-size: 16pt;
  border-radius: 10px;
  text-align: center;
  margin: 28px 0 32px 20px;
  width: 160px;
  padding: 5px 12px 7px 12px;
  float: right;
  cursor: pointer;
}